
@{
    ViewData["Title"] = "N5Store - Máy cũ giá rẻ";
	<link rel="stylesheet" href="~/css/slider.css" />
	<link rel="stylesheet" href="~/css/product.css" />
}
<style>
    .banner2 {
        transform: translateY(15px);
    }

	.None{
		margin: 30px;
	}
</style>
<div class="banner2">
    <img src="https://pbs.twimg.com/media/GvtCaHYXQAA9cuO?format=jpg&name=medium">
</div>
<div class="product">
	<div class="product-tittle">
		<h2>MÁY CŨ GIÁ RẺ</h2>
	</div>
</div>
<div class="None">
<h2>HIỆN TẠI KHÔNG CÓ SẢN PHẨM NÀO</h2>
</div>